*{
	box-sizing: border-box;
}

body {
	font-family: Arial;
}

ul {
	text-align: center;
	displau: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
  background-color: #333;
	border-color: aquamarine;
}

li {
  float: center;
	display: inline;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #C5C6C7;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
	float: center;
}

.button {
	background-color: dimgrey;
	border: solid;
	border-color: black;
	color: Black;
	text-align: center;
	padding: 10x 20px;
	display: inline-block
	cursor: pointer;
	border-radius: 5px;
	transition-duration: .4s;
	display: block;
	margin: 5px;
}

.button:hover {

	background-color: aquamarine;
	opacity: 1;

}

header {
	background-color: black;
	padding: 30px;
	border-style: solid;
	text-align: center;
	font-size: 35px;
	color: aquamarine;
}

nav {
	text-align: center;
	border-style: solid;
	border-color: aquamarine;
	border-top-style: none;
	float: left;
	width: 30%;
	background: #1F2833;
	padding: 7% 0;
	overflow: auto;
	color: white;
}

content {
	float: left;
	padding: 0px 20px;
	width: 70%;
	background-color: #1F2833;
	border-style: solid;
	border-top-style: none;
	border-left-style: none;
	border-color: aquamarine;
	overflow: auto;
	color: white;
}

section:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	background-color: Black;
	padding: 10px;
	text-align: center;
	color: white;
	border-style: solid;
	border-top-style: none;
	border-color: aquamarine;
}

a:link {

	text-decoration: None;

}

a:visited {

	background-color: #C5C6C7;

}

input, select {

	width: 100%;
	height: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;

}

input[type = submit] {

 	width: 100%;
	background-color: black;
	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;

}


@media (max-width: 600px) {
  nav, pageDescription {
    width: 100%;
    height: auto;
  }
}
